name: Metrics
on:
  schedule: [{cron: "0 6 * * *"}]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: github-metrics.svg
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Bernatntc
          template: classic
          base: header, activity, community, repositories, metadata
          plugin_languages: yes
          plugin_languages_limit: 8
          config_timezone: Europe/Istanbul
